/*** Add your styles here **/
h2 {
  font-size: 2.4rem;
}

h2, h3 {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 2.4rem;
}

h2 span {
  font-size: 4rem;
}
h2 span, h3 span {
  font-family: 'italianno', cursive;
  display: block;
  color: #e882a8;
}



/* Section: Navigation */
.navigation {
  background-color: #8ed3cc;
}

nav.main-nav {
  background-image: url('../img/border_horizontal.png'), url('../img/border_horizontal.png');
  background-repeat: repeat-x;
  background-position: 0 top , 0 bottom;
}

nav.main-nav .nav-item {
  border-radius: 20px;
  transition: background-color .3s ease;
}
nav.main-nav .nav-item:hover {
  background-color: #39a69b;
  border-radius: 20px;
}

nav.main-nav .nav-link {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
  font-family: 'Raleway', 'Helvetica Neue', sans-serif;
}

/* Carousel */
.carousel-item h3 {
  font-weight: 100;
  font-size: 3rem;
  font-family: 'Raleway', 'Helvetica Neue', sans-serif;
  color: #fff;
}
/* New Website */
.new-website p {
  font-size: 1.6rem;
  color: #979797;
  font-family: 'Lato', sans-serif;
}