/*** Add your styles here **/
body {
  background-color: #f8f8f8;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
}
h2 {
  font-size: 2.4rem;
}

h2, h3 {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 2.4rem;
}

h2 span {
  font-size: 4rem;
}
h2 span, h3 span {
  font-family: 'italianno', cursive;
  display: block;
  color: #e882a8;
}
h3 {
  tab-size: 2rem;
}
h3 span {
  font-size: 3rem;
}
/* Social Menu */
.socials ul {
  list-style: none;
}
.socials ul li {
  position: relative;
  display: inline-block;
  padding: 0;
}
.socials ul li a::before {
  font-family: 'FontAwesome';
  display: inline-block;
  vertical-align: top;
  padding: 0 0.4rem;
  content: '\f08e';
  color: #e082e8;
  -webkit-font-smoothing: antialiased;
  font-size: 1.8rem;
}
.socials ul li a[href*="facebook.com"]::before {content: '\f230';}
.socials ul li a[href*="twitter.com"]::before {content: '\f081';}
.socials ul li a[href*="instagram.com"]::before {content: '\f16d';}
.socials ul li a[href*="pinterest.com"]::before {content: '\f0d2';}
.socials ul li a[href*="youtube.com"]::before {content: '\f16a';}


/* Section: Navigation */
.navigation {
  background-color: #8ed3cc;
}

nav.main-nav {
  background-image: url('../img/border_horizontal.png'), url('../img/border_horizontal.png');
  background-repeat: repeat-x;
  background-position: 0 top , 0 bottom;
}

nav.main-nav .nav-item {
  border-radius: 20px;
  transition: background-color .3s ease;
}
nav.main-nav .nav-item:hover {
  background-color: #39a69b;
  border-radius: 20px;
}

nav.main-nav .nav-link {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
  font-family: 'Raleway', 'Helvetica Neue', sans-serif;
}

/* Section: Carousel */
.carousel-item h3 {
  font-weight: 200;
  line-height: 2.4rem;
  font-size: 3rem;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  color: #fff;
}
/* Section: New Website */
.new-website {
  background-color: #f1f1f1;
}
.new-website p {
  font-size: 1.6rem;
  color: #979797;
  font-family: 'Lato', sans-serif;
}

/* Section: Image Links */
.image-links img {
  border: 6px solid #fff;
  transition: transform .4s ease-in;
}

.image-links img:hover {
  -webkit-transform: scale(1.1) rotate(5deg);
    -ms-transform: scale(1.1) rotate(5deg);
      -moz-transform: scale(1.1) rotate(5deg);
        transform: scale(1.1) rotate(5deg);
}

.image-info {
  background-color: #fff;
  margin-top: -50px;
}

.image-info .btn-success {
  background-color: #e082a8;
  border: none;
  border-radius: 0 0 5px 5px;
  transition: background-color .4s ease-in;
}

.image-info .btn-success:hover {
  background-color: #ca5b88;
}

/* Business Hours */
.business-hours {
  background-color: #8ed3cc;
  color: #fff;
}
.business-hours h2 {
  color: #fff;
}

.bg-hours {
  background-image: url('../img/bg_hours.jpg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
}
.table {
  border: 1px solid #e882a8;
}
.table td,
.table thead th {
  border: none;
}
.table tbody tr td {
  padding: .35rem;
}
.table tr td:first-child {
  text-align: left;
  padding-left: 20px;
}
.table-danger,
.table-hover .table-danger:hover {
  background-color: #c882a8;
}

/* Section: Products */
.products .card {
  border: none;
}
.products .card a {
  color: #333;
}
.products .card a:hover {
  text-decoration: none;
}
.products .card h3 {
  font-size: 1.3rem;
  color: #e082a8;
}
.products .card p {
  font-size: .8rem;
  padding: 0 10px;
}
.products .card p.price {
  font-size: 1.5rem;
  color: #333;
}

/* Section: Appointment */
.appointment {
  background-image: url('../img/bg_appointment.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}
@media (min-width: 992px) {
  background-size: cover;
  p {
    text-align: center;
  }
}
.appointment h3 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 3rem;
}
.appointment p {
  line-height: 1.6rem;
}
.appointment .btn-primary {
  background-color: #8ed3cc;
  border: none;
  border-radius: 0 0 5px 5px;
  padding: .8rem 3.5rem;
}
.appointment .btn-primary:hover {
  background-color: #68beb5;
}

/* Section: Site Footer */
.site-footer p.copyright {
  color: #979797;
}